.vscode
.vs
bin/*.exe
bin/*.exp
bin/*.lib
bin/*.pdb
bin/*.so
bin/*.ini
bin/*.ilk
bin/**/*.spv
bin/example*
bin/winter_night
bin/tetris
bin/**/*.spv
bin/**/*.dll
lib/**/*.dll.a
bin/logs
.DS_Store
*.so
*.exe
*.exp
*.lib
*.pdb
*.ini
*.dll 
*.ilk  
objects/**/*.o
objects/**/*.d
log.txt
terminal.lnk
docs