.vscode
.vs
bin/*.exe
bin/*.exp
bin/*.lib
bin/*.pdb
bin/*.so
bin/*.ini
bin/*.ilk
bin/**/*.spv
bin/**/*.spv
bin/**/*.dll
lib/**/*.dll.a
.DS_Store
*.so
*.exe
*.exp
*.lib
*.pdb
*.ini
*.dll 
*.ilk  
objects/**/*.o
log.txt
terminal.lnk